@model IEnumerable<Event>;


<a asp-controller="Contact" asp-action="Index"><h3>Contacteer ons</h3></a>

@foreach(Event events in @Model)
{
	<a asp-controller="Event" asp-action="Details" asp-route-id="@events.EventId"><h2>@events.EventTitle</h2></a>
	<p>@events.ShortDescription</p>
	<p>@events.EventDate</p>
}


